<nav class="admin-sidebar">
  <div class="sidebar-logo">
    <span>Quản trị hệ thống</span>
  </div>
  <ul class="sidebar-menu">
    <li routerLink="/admin/dashboard" routerLinkActive="active">Tổng quan</li>
    <li routerLink="/admin/product-management" routerLinkActive="active">
      Sản phẩm
    </li>
    <li routerLink="/admin/category-management" routerLinkActive="active">
      Danh mục
    </li>
    <li routerLink="/admin/order-management" routerLinkActive="active">
      Đơn hàng
    </li>
    <li routerLink="/admin/customer-management" routerLinkActive="active">
      Khách hàng
    </li>
    <li routerLink="/admin/employee-management" routerLinkActive="active">
      Nhân viên
    </li>
    <li routerLink="/admin/invoice-management" routerLinkActive="active">
      Hóa đơn
    </li>
    <li routerLink="/admin/shipping-management" routerLinkActive="active">
      Vận chuyển
    </li>
    <li routerLink="/admin/stock-management" routerLinkActive="active">
      Kho hàng
    </li>
    <li routerLink="/admin/permission-management" routerLinkActive="active">
      Phân quyền
    </li>
  </ul>
</nav>
