<nav class="navbar" [class.shrunk]="isShrunk">
  <div class="navbar-left">
    <a class="navbar-logo" (click)="navigateToHome()">TempoTide</a>
    <div class="navbar-categories" (click)="toggleDanhMucDropdown()">
      <span>Danh mục</span>
      <fa-icon [icon]="'chevron-down'"></fa-icon>
      <ul *ngIf="isDanhMucOpen">
        <li
          *ngFor="let cat of danhMucs; trackBy: trackByCategoryId"
          (click)="navigateToCategory(cat.id)"
        >
          {{ getCategoryName(cat) }}
          <ul *ngIf="cat.children?.length">
            <li
              *ngFor="let child of cat.children; trackBy: trackByCategoryId"
              (click)="navigateToCategory(child.id); $event.stopPropagation()"
            >
              {{ getCategoryName(child) }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-search">
    <input
      type="text"
      [(ngModel)]="keyword"
      (input)="onInputChange()"
      (keydown.enter)="onEnter()"
      (focus)="onFocus()"
      (blur)="onBlur()"
      placeholder="Tìm sản phẩm..."
    />
    <ul *ngIf="showSuggestions && suggestions.length">
      <li
        *ngFor="let sp of suggestions; trackBy: trackByProductId"
        (click)="onSelectSuggestion(sp)"
      >
        <img [src]="getProductImage(sp)" alt="sp" width="32" />
        <span>{{ getProductName(sp) }}</span>
        <span>{{ getProductPrice(sp) }}</span>
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <div class="navbar-cart" (click)="navigateToCart()">
      <fa-icon [icon]="'cart-shopping'"></fa-icon>
      <span class="cart-badge" *ngIf="cartCount$ | async as count">
        {{ count > 9 ? "9+" : count }}
      </span>
    </div>
    <div class="navbar-user" (click)="toggleLoginDropdown()">
      <span>{{ isAuthenticated ? userDisplayName : "Đăng nhập" }}</span>
      <ul *ngIf="isLoginOpen">
        <li *ngIf="isAuthenticated" (click)="navigateToProfile()">
          Thông tin cá nhân
        </li>
        <li *ngIf="isAuthenticated" (click)="navigateToOrders()">Đơn hàng</li>
        <li *ngIf="isAuthenticated" (click)="logout()">Đăng xuất</li>
        <li *ngIf="!isAuthenticated" (click)="login()">Đăng nhập</li>
        <li *ngIf="!isAuthenticated" (click)="register()">Đăng ký</li>
      </ul>
    </div>
  </div>
</nav>
